/* styles.css */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  #itemList, #listaCompras {
    margin-top: 20px;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  button {
    margin-left: 10px;
  }
  